body{
    background: honeydew;
}

#calculator{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    background: #2e2e2e;
    border: 2px solid black;
    border-radius: 16px;
    box-shadow: 3px 2px 5px;
    padding: 25px;
    align-items: center;
    gap:30px;
}

#panel{
    width: 300px;
    padding:5px;
    border: 2px solid black;
    background: #cccccc;
    text-align: end;
    overflow: hidden;
     
    font-weight: bold;
    font-family: 'Calculator', sans-serif;
}

.top.display{
    height: 20px;
    font-size: 20px;

}

.bottom.display{
    height: 25px;
    font-size: 25px;
}

button{
    padding: 25px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    flex:1;
    background: #4d4d4d;
    font-weight: bolder;
    color: #f4fef9;
}

.hover{
    background: lightgrey;
}

.container{
    display: flex;
    flex-direction: column;
    gap:5px;
    width:300px;
    height:300px;
}

#buttons{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.ac_del{
    display: flex;
    flex-direction: row;
}

.reset, .delete{
    background: #c51d24;
    padding:15px;
}


.row{
    display: flex;
    flex-direction: row;
}

main{
    display: flex;
    justify-content: center;
    align-items: centerS;
}