*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: honeydew;
    min-height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font: 20px "Roboto", sans-serif;
    margin-bottom: 10px;
}

#calculator{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 455px;
    background: #2e2e2e;
    border: 2px solid black;
    border-radius: 16px;
    box-shadow: 3px 2px 5px;
    padding: 25px;
    align-items: center;
    gap:30px;
}

#panel{
    width: 300px;
    padding:5px;
    border: 2px solid black;
    background: #cccccc;
    text-align: end;
    overflow: hidden;
     
    font-weight: bold;
    font-family: 'Calculator', sans-serif;
}

.top.display{
    height: 20px;
    font-size: 20px;

}

.bottom.display{
    height: 25px;
    font-size: 25px;
}

button{
    padding: 25px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 2px black;
    flex:1;
    background: #4d4d4d;
    font-weight: bolder;
    color: #f4fef9;
}

.hover{
    background: lightgrey;
}

.container{
    display: flex;
    flex-direction: column;
    gap:5px;
    width:300px;
    height:300px;
}

#buttons{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.ac_del{
    display: flex;
    flex-direction: row;
}

.reset, .delete{
    background: #c51d24;
    padding:15px;
}


.row{
    display: flex;
    flex-direction: row;
}

.github-logo{
    width: 24px;
    height: 24px;
}
